@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: hotpink;
}

.navbar {
  background: #fff;
  margin: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.col-md-7 {
  margin: 0 auto 20px auto
}

.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: lightpink;
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: black;
  background: hotpink;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.target {
  width: 40px;
  height: 40px;
  background: url('../src/target.jpg');
  background-size: cover;
}

.video-player-details {
  background: hotpink;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}

.video-list {
  background: hotpink;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry-title {
  font-weight: bold;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
}